[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aenum = "*"
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
anyio = "*"
appnope = "*"
argon2-cffi = "*"
argon2-cffi-bindings = "*"
arrow = "*"
asttokens = "*"
async-lru = "*"
attrs = "*"
azure-core = "*"
azure-identity = "*"
babel = "*"
backcall = "*"
beautifulsoup4 = "*"
bleach = "*"
blinker = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
comm = "*"
contourpy = "*"
coverage = "*"
cryptography = "*"
cycler = "*"
debugpy = "*"
decorator = "*"
defusedxml = "*"
deprecated = "*"
distlib = "*"
entrypoints = "*"
et-xmlfile = "*"
executing = "*"
fastjsonschema = "*"
filelock = "*"
flask = "*"
flatdict = "*"
fonttools = "*"
fqdn = "*"
frozenlist = "*"
google-api-core = "*"
google-auth = "*"
google-cloud-pubsub = "*"
googleapis-common-protos = "*"
grpc-google-iam-v1 = "*"
grpcio = "*"
grpcio-status = "*"
gunicorn = "*"
h11 = "*"
h2 = "*"
hpack = "*"
httpcore = "*"
httpx = "*"
hyperframe = "*"
idna = "*"
importlib-metadata = "*"
iniconfig = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
isoduration = "*"
itsdangerous = "*"
jedi = "*"
jinja2 = "*"
json5 = "*"
jsonpointer = "*"
jsonschema = "*"
jsonschema-specifications = "*"
jupyter = "*"
jupyter-console = "*"
jupyter-events = "*"
jupyter-lsp = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyter-server = "*"
jupyter-server-terminals = "*"
jupyterlab = "*"
jupyterlab-pygments = "*"
jupyterlab-server = "*"
jupyterlab-widgets = "*"
jwcrypto = "*"
kiwisolver = "*"
markdown = "*"
markupsafe = "*"
marshmallow = "*"
matplotlib = "*"
matplotlib-inline = "*"
microsoft-kiota-abstractions = "*"
microsoft-kiota-authentication-azure = "*"
microsoft-kiota-http = "*"
microsoft-kiota-serialization-form = "*"
microsoft-kiota-serialization-json = "*"
microsoft-kiota-serialization-multipart = "*"
microsoft-kiota-serialization-text = "*"
mistune = "*"
msal = "*"
msal-extensions = "*"
msgraph-core = "*"
msgraph-sdk = "*"
multidict = "*"
nats-py = "*"
nbclassic = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
notebook = "*"
notebook-shim = "*"
numpy = "*"
oauthlib = "*"
okta = "*"
openpyxl = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-semantic-conventions = "*"
overrides = "*"
packaging = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pendulum = "*"
pexpect = "*"
pickleshare = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
portalocker = "*"
prometheus-client = "*"
prompt-toolkit = "*"
proto-plus = "*"
protobuf = "*"
psutil = "*"
ptyprocess = "*"
pure-eval = "*"
pyarrow = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pycryptodomex = "*"
pydash = "*"
pygments = "*"
pyjwt = "*"
pyparsing = "*"
pyrsistent = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dateutil = "*"
python-json-logger = "*"
pytz = "*"
pyyaml = "*"
pyzmq = "*"
qtconsole = "*"
qtpy = "*"
referencing = "*"
requests = "*"
requests-oauthlib = "*"
rfc3339-validator = "*"
rfc3986-validator = "*"
rpds-py = "*"
rsa = "*"
seaborn = "*"
send2trash = "*"
six = "*"
slack-sdk = "*"
sniffio = "*"
soupsieve = "*"
stack-data = "*"
std-uritemplate = "*"
tabulate = "*"
terminado = "*"
time-machine = "*"
tinycss2 = "*"
tomli = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
types-python-dateutil = "*"
typing-extensions = "*"
tzdata = "*"
uri-template = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
webcolors = "*"
webencodings = "*"
websocket-client = "*"
werkzeug = "*"
widgetsnbextension = "*"
wrapt = "*"
xmltodict = "*"
yarl = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.13"
