# Example environment configuration
# Copy this to .env and configure your settings

# Application settings
APP_NAME=trmnl-agent
LOG_LEVEL=INFO

# Destination Webhook URL for forwarding data
WEBHOOK_URL=https://your-webhook-endpoint.com

# Where we're extract the data from 
SOURCE_URL=https://www.accuweather.com/en/us/lakeville/55044/sinus-weather/2247734

# Health check settings (usually disabled for CronJob)
ENABLE_HEALTH_CHECK=false
HEALTH_CHECK_PORT=8080